.modalContainer {
  position: fixed;
  width: 100vw; 
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal{
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.modal__head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.modal__close {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: hsl(0, 70%, 50%);
  border: none;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
  margin-left: auto;
}

.modal__close:hover {
  color: hsl(0, 70%, 70%);
}

.modal__content {
  width: 100%;
  margin: 20px 0;
}

.modal__footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal__footer button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: hsl(0, 70%, 50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.modal__footer button:hover {
  background-color: hsl(0, 70%, 40%);
}

.modal__footer button:active {
  background-color: hsl(0, 70%, 50%);
}
